<div class="form">
    <div style="width: 696px; padding: 84px 184px 112px">
        <h1 class="title">Contact Us</h1>
        <p class="details">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <form [formGroup]="contactForm">
            <div class="input-container">
                <input class="detail-input" type="text" placeholder="Full Name *" formControlName="name"/>
                <span class="floating-label">Full Name *</span>
            </div>

            <div class="input-container">
                <input class="detail-input" type="email" placeholder="E-mail *" formControlName="email"/>
                <span class="floating-label">E-mail *</span>
            </div>

            <div class="input-container">
                <input class="detail-input" type="number" placeholder="Phone*" formControlName="phone"/>
                <span class="floating-label">Phone*</span>
            </div>

            <select class="input-container detail-input detail-select" formControlName="category" placeholder="Category" (change)="selectCategory($event)">
                <option [value]="category.categoryId" *ngFor="let category of categories" >{{category.name}}</option>
            </select>

            <select class="input-container detail-input detail-select" style="margin-left: 40px;" formControlName="subCategory">
                <option [value]="subCategory.subCategoryId" *ngFor="let subCategory of selected?.subCategories">{{subCategory?.name}}</option>
            </select>

            <div class="input-container">
                <textarea class="detail-input detail-textarea" placeholder="Message" formControlName="message"></textarea>
            </div>

            <div class="select-paragraph">
                <p >Please select at least one of the following:</p>
                <input class="option-checkbox" type="checkbox" name="option1" value="Bike">
                <label>Option 1</label>

            </div>
            
            <button class="submit-button" type="submit"><span class="button-text">Submit</span></button>
        </form>
    </div>   
</div>